<main>
  <app-learning-resources />

  <hr />

  <app-auth />
  <!-- @if(isAdmin()){

  <p>only admin can see this!</p>
  }
  <p *ngIf="isAdmin()">only admin can see this!</p> -->
  <!-- with out alias  -->
  <!-- <p appAuth userType="admin">only admin can see this!</p> -->
  <!-- with alias  -->
  <!-- <p appAuth="admin">only admin can see this!</p> -->
  <ng-template appAuth="admin">
    <p>only admin can see this!</p>
  </ng-template>
  <p *appAuth="'admin'" class="protected-content admin">
    only admin can see this!
  </p>
  <p *appAuth="'user'" class="protected-content unauthenticated">
    regular users can see this!
  </p>
  <p *appAuth="'guest'" class="protected-content authenticated">
    guest users can see this!
  </p>
  <!-- <p *[appAuth]="admin">only admin can see this!</p> -->
</main>
